body{
    background-color: aquamarine;
}

.container{
    height: 800px;
    border: 2px solid red;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
}

.row1,.row2,.row3{
    border: 1px solid salmon;
    height: 200px;
}

.row1{
    /* grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:3 ;
    grid-column-end: 5; */
    grid-row: 1/2;
    grid-column: 3/4;
    background-color: rgb(148, 202, 233);
}