body{
    background-color: plum
}
div{
    background-color: rgb(244, 243, 219);
}
.container{
    height: 400px;
    background-color: rgb(241, 136, 157);
    border: 2px black solid;
}
/* .child1{
    background-color: rgb(160, 52, 52);
    color: white;
    height: 300px;
    border: 3px black dotted;
    width: 300px;
    margin-left: 300px;
    padding: 100px 50px 40px;
    box-sizing: border-box;
} */

div> p{
    background-color: rgb(247, 247, 143);
}